package {{ package_name }};

import org.springframework.stereotype.Service;
import {{ entity_import }};
import {{ repository_import }};
import {{ mapper_import }};

@Service
public class {{ entity.name }}Service {
}
